.avatar-selection-page {
    width: 100%;
    //border: $input-border;
    
    .avatar-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(50px, 1fr)) !important;
        gap: 1rem;
        margin-bottom: 1rem;
        //margin: auto;
        
        padding: 1rem;
        border-radius: 5px;
        //box-shadow: $box-shadow-main;
    
    
        .avatar-option {
            cursor: pointer;
        }
    
        .selected {
            transform: scale(1.2); /* Add the border color for the selected avatar */
          }
    }
}


