.home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 80%;
    position: fixed;
    top: 170px;
    left: 0;
    right:0;
    padding-inline: 2rem;
    box-sizing: border-box;
    @include scroll;

    .pagify {

        .pagify-buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;

            button {
                @include gray-button;
            }
        }
    }

    .recipe-image-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;

        .recipe-img-wrapper {
            background-color: #f0f0f0;
            position: relative;

            .recipe-img {
                height: 100%;
                width: 100%;
                aspect-ratio: 1/1;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                border-radius: 0.2rem;
                object-fit: cover;
                cursor: pointer;
            }

            .favorite {
                position: absolute;
                top: 0;
                left: 0;
                height: 15%;
                width: 15%;
                cursor: pointer;
                z-index: 9998;

            }

            button {
                @include black-button;
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
            }

            .desktop-text {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                max-height: 50%;
                background: hsla(0, 100%, 100%, 0.5);
                backdrop-filter: blur(1rem);
                padding: 1rem;
                overflow: hidden; 
                text-overflow: ellipsis; 

            }

            
        }
    }

    .logout {
        @include black-button;
        margin-top: 0;
        //justify-self: flex-end;
    }

    .saved {
        @include title;
        font-weight: bold;
    }
}

.empty {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;

    button {
        @include black-button;
    }

}

