.home-head-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    box-shadow: $box-shadow-main;
    position: fixed;
    left: 0;
    top: 140px;
    width: 30%;
    background-color: #fff;
    padding-inline: 1rem;
    box-sizing: border-box;
    z-index: 9999;
    //padding: 0.2rem;

    .home-head-user {
        display: flex;
        align-items: center;

        img {
            height: 50px;
            z-index: 9999;
        }
        
    }


        .home-head-search {
            //width: 50%;

            input {
                width: 100%;
                border: 1px solid $green-theme;
                //@include input;
                padding: 0.3rem;

                &:focus {
                    outline: none;
                }
            }

        }
    
        .home-head-buttons {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 0.6rem;
        
    }

    
}      