.main-wrapper {
    width: 100%;
    //min-height: 100vh;
    margin-left: 30%;
    padding: 2rem;


    .full-screen {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        text-decoration: underline;
        text-decoration-color: $green-theme;
    }

}

.recipe-page {
    width: 80%;
    min-height: 60%;
    text-align: center;
    margin: auto;
    padding: 3rem;
    border-radius: 5px;
    text-align: left;
    margin-top: 1rem;
    background: white;
    @include scroll;
    

    .download {
        @include black-button;
        position: absolute;
        top: -10px;
        right: 5px;
        cursor: pointer;
    }

    .back {
        @include green-button;
        position: absolute;
        top: -10px;
        left: 5px;
        cursor: pointer;
    }
 
    .recipe-card {
        padding: 3rem;
        border-radius: 5px;
        box-shadow: $box-shadow-main;
        border: $input-border;
        min-height: 70vh;
        margin-bottom: 1rem;
        position: relative;
        
        
    }

    .title {
        font-family: 'Lora', serif;
        font-style: italic;
        margin-block: 1rem;
    }

    .favorite-recipe {
        height: 2rem;
    }

    .subtitle {
        font-family: Lora, Georgia, serif;
        font-size: 1.2rem;
        font-style: italic;
        margin-block: 1rem;
    }

    .recipe-image {
        max-width: 100%;
        min-width: 70%;
        max-height: 500px;
        object-fit: cover;
        border-radius: 5px;
    }

    .recipe-info {
        display: flex;
        width: 100%;
        gap: 1rem;
        margin-block: 1rem;

        .author {
           width: 30%;
        }

        .times {
            display: flex;
            gap: 1rem;
            
            div {
                padding-right: 1rem;
                border-right: 1px solid gray;
            }
        }

    }

    .recipe-text {
        display: flex;
        gap: 1rem;

        .ingredients {
            width: 30%;

            ul {
                list-style-type: none;
                padding: 0;

                li {
                    margin-block: 0.5em;;
                    
                }
            }
        }

        .instructions {
            width: 70%;
        }
    }
}