
.reset {
    display: flex;
    flex-direction: column;

    .password-wrapper {
        width: 100%;
        //border: 1px solid red;
        position: relative;

        small {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }

    input {
        @include input;
        width: 100%;
    }

    button {
        @include black-button;
    }
}