
.settings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    @include scroll;

    hr {
        width: 100%;
    }

    .settings-top {
       margin-top: 1rem;
        text-align: left;
    }

    .settings-buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .save {
            @include green-button;
            width: 48%;
        }

        .cancel {
            @include black-button;
            width: 48%;
        }
    }

    input {
        border: none;

        &:focus {
            outline: none;
        }
    }

    .dark-mode-toggle {
        display: flex;
        align-items: center;
      }
      
      .dark-mode-toggle label {
        margin-right: 10px;
      }
      
      .dark-mode-toggle input[type="checkbox"] {
        display: none;
      }
      
      .toggle-slider {
        width: 40px;
        height: 20px;
        background-color: black;
        border-radius: 10px;
        position: relative;
      }
      
      .toggle-slider::before {
        content: '';
        width: 18px;
        height: 18px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        left: 2px;
        top: 1px;
        transition: 0.2s;
      }
      
      input[type="checkbox"]:checked + .toggle-slider {
        background-color: $green-theme;
      }
      
      input[type="checkbox"]:checked + .toggle-slider::before {
        left: calc(100% - 20px);
      }
      
}

