@include breakpoint-min(80em) {

    .main-wrapper {
        
        margin-left: 40%;
        width: 60%;

        .recipe-page {
            width: 100%;
            padding: 0;

            .recipe-card {
                

                .recipe-image {
                    width: 100%;
                }

                .recipe-text {

                    .ingredients {
                        width: 50%;
                    }

                    .instructions {
                        width: 50%;
                    }
                }
            }

            
        }
    }

    .sidebar {
        width: 40% !important;

        .title-bar {
            width: 40% !important;

            nav {
                width: 40% !important;
            }
        }

    }

    .home-head-container {
        width: 40% !important;
    }

    .ingred-list {
        width: 40% !important;
    }

    .home-container {
        width: 40%;
    }

    .error-container {
    margin-left: 40%;
    }


}

@include breakpoint-min(50em) {
    .main-wrapper {
        width: 100% !important;
        margin: 0;
    }

    .sidebar {
        width: 100% !important;

        .title-bar {
            width: 100% !important;

            nav {
                width: 100% !important;
            }
        }

        input, textarea, button, nav, .save {
            font-size: 1.2rem !important;
        }
    }

    .ingred-list {
        width: 100%!important;
    }

    .home-container {
        width: 100%;
        padding-inline: 0.4rem !important;
        padding-bottom: 2rem;
    }

    .error-container {
        margin-left: 0;
    }

    .main-wrapper {
        padding: 0!important;
    }
    .recipe-page {
        padding: 0 !important;
        border: 1px solid red;
    }
    .recipe-card {
        padding: 0.9rem !important;
        border: none !important;
        box-shadow: none !important;

         .recipe-data {
            width: 100%;
            //padding-top: 2rem;

            .recipe-info {
                justify-content: center;

            }

            
        }
    }

    .sidebar-home-x {
        padding-inline: 0.3rem;
    
    }

    .recipe-image-grid {
        gap: 0.5rem !important;
        
        .desktop-text {
            font-size: 0.8rem;
            //font-weight: 600;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            overflow-y: hidden;
            padding: 0.1rem !important;
        }

        .favorite {
            height: 10% !important;
            width: 10% !important;
        }
    }

    .home-head-container {
        width: 100% !important;
        
        
        .home-head-search {
            margin-right: 5px;
        }

    }

    .avatar-grid {
        //border: 1px solid red;
        width: 80% !important;
        grid-template-columns: repeat(auto-fill, minmax(50px, 1fr)) !important;
    }

    

}