@include breakpoint-min(80em) {

    .main-wrapper {
        
        margin-left: 40%;
        width: 60%;

        .recipe-page {
            width: 100%;
            padding: 0;

            .recipe-card {
                

                .recipe-image {
                    width: 100%;
                }

                .recipe-text {

                    .ingredients {
                        width: 50%;
                    }

                    .instructions {
                        width: 50%;
                    }
                }
            }

            
        }
    }

    .sidebar {
        width: 40% !important;

        .title-bar {
            width: 40% !important;

            nav {
                width: 40% !important;
            }
        }

    }

    .home-head-container {
        width: 40% !important;
    }

    .ingred-list {
        width: 40% !important;
    }

    .home-container {
        width: 40%;
    }

    .error-container {
    margin-left: 40%;
    }


}

@include breakpoint-min(50em) {
    .main-wrapper {
        width: 100% !important;
        margin: 0;
    }

    .sidebar {
        width: 100% !important;

        .title-bar {
            width: 100% !important;

            nav {
                width: 100% !important;
            }
        }

        input, textarea, button, nav, .save {
            font-size: 1.2rem !important;
        }
    }

    .ingred-list {
        width: 100%!important;
    }

    .home-container {
        width: 100%;
    }

    .error-container {
        margin-left: 0;
    }

    .recipe-card {
        padding: 0 !important;
        border: none !important;
        box-shadow: none !important;

         .recipe-data {
            width: 100%;
            padding-top: 2rem;

            .recipe-info {
                justify-content: center;

                .author {
                    width: 0;
                } 

            }

            
        }
    }

    .home-head-container {
        width: 100% !important;
        top: 159px;
        
        .home-head-search {
            margin-right: 5px;
        }

    }

    .avatar-grid {
        width: 60% !important;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr !important;
    }

    

}