@include breakpoint-min(80em) {

    .main-wrapper {
        
        margin-left: 40%;
        width: 60%;
        //padding: 0;
        

        .recipe-page {
            width: 100%;
            padding: 0;

            .recipe-card {
                border: none;
                box-shadow: none;
                //padding-inline: 0;

                .recipe-image {
                    width: 100%;
                }

                .recipe-text {

                    .ingredients {
                        width: 50%;
                    }

                    .instructions {
                        width: 50%;
                    }
                }
            }

            
        }
    }

    .sidebar {
        width: 40% !important;

        .title-bar {
            width: 40% !important;

            nav {
                width: 40% !important;
            }
        }

    }

    .home-container {
        width: 40%;
    }

    .error-container {
    margin-left: 40%;
    }


}

@include breakpoint-min(50em) {
    .main-wrapper {
        width: 100% !important;
        margin: 0;
    }

    .sidebar {
        width: 100% !important;

        .title-bar {
            width: 100% !important;

            nav {
                width: 100% !important;
            }
        }

        input, textarea, button, nav, .save {
            font-size: 1.2rem !important;
        }
    }

    .home-container {
        width: 100%;
    }

    .error-container {
        margin-left: 0;
    }

}